@media (max-width: 2560px) {
  .intro {
    background-image: url('./img/mountains-2560.jpg');
    height: 1223px;
  }
}

@media (max-width: 2200px) {
  .intro {
    background-image: url('./img/mountains-2200.jpg');
    height: 1051px;
  }
}

@media (max-width: 1920px) {
  .intro {
    background-image: url('./img/mountains-1920.jpg');
    height: 918px;
  }
  .greeting-text {
    top: 280px;
  }
}

@media (max-width: 1800px) {
  .intro {
    background-image: url('./img/mountains-1920.jpg');
    height: 918px;
  }
}

@media (max-width: 1680px) {
  .intro {
    background-image: url('./img/mountains-1680.jpg');
    height: 803px;
  }
  .greeting-text {
    top: 260px;
  }
}

@media (max-width: 1440px) {
  .intro {
    background-image: url('./img/mountains-1440.jpg');
    height: 688px;
  }
  .greeting-text {
    top: 220px;
  }
}

@media (max-width: 1280px) {
  .intro {
    background-image: url('./img/mountains-1280.jpg');
    height: 611px;
  }
  .greeting-text {
    top: 200px;
  }
}

@media (max-width: 1190px) {
  .greeting-text {
    top: 175px;
  }
}

@media (max-width: 1024px) {
  .intro {
    background-image: url('./img/mountains-1024.jpg');
    height: 489px;
  }
  .greeting-text {
    top: 150px;
  }
  .nerp-card, .project-card {
    width: 46%;
  }
}

@media (max-width: 940px) {
  #mike {
    left: 6%;
  }
  #peritz{
    right: 6%;
  }
  .greeting-text {
    top: 125px;
  }
}

@media (max-width: 860px) {
  .intro {
    background-image: url('./img/mountains-860.jpg');
    height: 411px;
  }
  .greeting-text {
    top: 115px;
  }
}

@media (max-width: 810px) {
  .greeting-text {
    top: 100px;
  }
}

@media (max-width: 682px) {
  .greeting-text {
    top: 75px;
  }
}

@media (max-width: 600px) {
  .greeting-text {
    top: 65px;
    width: 80%;
  }
  .nerp-card, .project-card {
    width: 90%;
  }
  .card-text-small {
    position: relative !important;
    top: -15px !important;
  }
}

@media (max-width: 500px) {
  body {
    margin: 0;
  }
  .greeting-text {
    top: 50px;
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  .line-btn {
    width: 40%;
  }
  .nerp-card {
    height: 600px;
  }
  .nerd {
    padding: 0 5% 0 5% !important;
  }
  .face-large {
    display: none;
  }
  .greeting-text-div {
    width: 100% !important;
    padding: 0 !important;
  }
  .single-project > h2 {
    font-size: 15px;
  }
  .single-project > h4 {
    padding: 0 10px 0 10px;
    font-size: 12px;
  }
  .iframe {
    width: 187px;
    height: 105px;
  }
}
